@import "colores";

header{
    background-image: linear-gradient(to right, $background1, $background2);
    h1{
        margin-left: 0.25em;
        font-size: 3em;
        color: $color1;
    }
    h3{
        background-color: $color1;
        padding: 1em;
        margin-top: 0.5em;
        margin-bottom: 2em;
        text-align: right;
        text-decoration: underline;
        font-style: italic;
        font-size: 1.25em;
    }
}