@import "colores";

.galeria{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2em;
    img{
        width: 250px;
        height: 150px;
        opacity: .5;
        border: 2px solid $border1;
        &:hover{
            opacity: 1;
            border: solid 2px $background3;
            transition-duration: 0.5s;
        }
    }
}